<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
	<style>
	#banner{
	height: 200px;
	width: 100%;
    background: url(static/img/banner.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	margin-bottom: 15px;
	}
	</style>

  </head>

  <body>
  {% include 'navbar.html' %}
  <div class="container-fluid">
	  <div class="row">
  
    {% include 'sidenav.html' %}
	
    <div class="col-sm-8 col-md-8 col-lg-10" >
      <div class="jumbotron" >
        <h1>Welcome to my website</h1>
        <p>
		This website is a coursework project for the MSc E-commerce module at Cardiff University. Sorry if you stumbled upon this looking to buy and download the games I have shown here, but all items are just placeholders
		and I am not selling any actual products.
		</p> 
		<p>
		If you are interested in how I have created the website, I primarily used the python flask framework, which gave a high level of control in every aspect of the website, in the back and front end.
		For styling I have used Twitter's bootstrap css, which is freely available for use, I would recommend it, as it allows some really cool things just with html and css, including the carousel on the home page.</p>
		<p>
		I wish I had managed my time  better during it's creation, I had a lot bigger plans for the entire thing, but with multiple deadlines and other responsibilities I have not been able to work on this I much
		I had hoped. Nevertheless hope you enjoy exploring the website as much as I did during the time I spent making it! 
		</p>
		<p>
		Thomas Preston
		</p>
      </div>
    </div>
	</div>
	</div>
  
  </body>
</html>
