<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
	<style>
	#banner{
	height: 200px;
	width: 100%;
    background: url(static/img/banner.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	margin-bottom: 15px;
	}
	</style>

  </head>

  <body>
  {% include 'navbar.html' %}
    <div class="container-fluid">
	  <div class="row">
		{% include 'sidenav.html' %}
		<div class="col-sm-8 col-md-8 col-lg-10" >

				{% if g.user.is_authenticated() %}
				{% for game in games %}
				{% if loop.first %}<div class="row">{% endif %}
				{% if loop.index == 4 %} <div class="row "> {% endif %}
				<div class="col-sm-8 col-md-8 col-lg-2 col-lg-offset-1">
			
				
				  <h2>{{game.name}}</h2>
				  
				  <img src="static/img/{{game.name}}.png" style="padding-bottom:10px;" height="100%" width="100%"></img>
				  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				  <form action="{{ url_for('add_to_cart') }}" method=post><input type="hidden"" value="{{game.name}}" name="game_to_add"><input type="submit" value="Add to cart" class="btn btn-default"></a></form>
				</div>
				{% if loop.index is divisibleby 4 %}</div><div class="row">{% endif %}
				{% if loop.last %}</div>{% endif %}
				{% endfor %}
				{% endif %}
			  </div>

		</div>
	  </div>
	</div>
  </body>
</html>
