<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
	<style>
	#banner{
	height: 200px;
	width: 100%;
    background: url(static/img/banner.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	margin-bottom: 15px;
	}
	.control-group{
		padding: 10px;
	}
	</style>
  </head>
  
  <body>
  {% include 'navbar.html' %}
  <div class="container-fluid">
	  <div class="row">
		{% include 'sidenav.html' %}
		<div class="col-sm-8 col-md-8 col-lg-10">
			<div class = "container-small center jumbotron">
		      <form action="" method=post class="form-horizontal form-signin">
		<h2>Sign up</h2>
		<div class="control-group">
			<div class="controls">
			  <input type="text" id="username" name="username" class="input-xlarge form-control"
				placeholder="Enter Username" value="{{ request.form.username }}"
				required>
			</div>
		</div>
	 
		<div class="control-group">
			<div class="controls">
			  <input type="password" id="password" name="password" class="input-xlarge form-control"
				placeholder="Enter Password" value="{{ request.form.password }}"
				required>
			</div>
		</div>
	 
		<div class="control-group">
			<div class="controls">
			  <input type="email" id="email" name="email" class="input-xlarge form-control"
				placeholder="Enter Email" value="{{ request.form.username }}"
				required>
			</div>
		</div>
	 
		<div class="control-group">
			<div class="controls">
			  <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
			</div>
		</div>
	  </form>
			</div>
	  </div>
  </div>
  </body>
</html>
